.form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  h1 {
    color: #4CAF50;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  form input[type="text"], form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  form select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  form button {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }